
<hr>
<article>
	<h2>Github user (apiProfile.github.user)</h2>
	<div>{{apiProfile.github.user}}</div>
</article>

	<hr>
<article>
	<h2>Github repo (apiProfile.github.repos)</h2>
	<div>{{apiProfile.github.repos}}</div>
</article>

	<hr>
<article>
	<h2>Linkedin (apiProfile.linkedin)</h2>
	<div>{{apiProfile.linkedin}}</div>
</article>

	<hr>
<article>
	<h2>Twitter (apiProfile.twitter)</h2>
	<div>{{apiProfile.twitter}}</div>
</article>

	<hr>
<article>
	<h2>Twitter (apiProfile.extra)</h2>
	<div>{{apiProfile.extra}}</div>
</article>